body{
    text-align: center;
    position: relative;
    margin: 10%;
}
#box{
    margin-top: 50px;
    display: none;
    text-align: center;
}
#resim{
    margin: 30px;
    width: 300px;
}
#button{
    border-radius: 15px;
    background-color: darkcyan;
    color: aliceblue;
    width: 120px;
    padding: auto;

}
.yaslanan-div {
    margin-left: auto;
}
#box1{
    border-radius: 60%;
    width: 400px;
    height: 70px;
    background-color:aquamarine;
    text-align: center;
    position: relative;
    margin: 25%;
}
